/* For mobile phones and tablets */
* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.display {
    display: none; /* hides redundant empty div-s */
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    float: left;
    font-weight: bold;
}

.button {
    background-color: darkgrey;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}

#googleMap {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 300px;
    width: 100%;
}

.container {
    background-color: white;
    padding: 15px 15px;
}

.col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
    font-size: 12px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-50 #refresh {
    float: right; /* only the refresh button floating to the right in this mode*/
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* For desktop: */
@media screen and (min-width: 768px) {

    .display {
        display: block; /* displays empty div-s needed to sum up total width up to 100% */
    }

    /* sum of all column widths must be 100% */
    .col-8 {
        float: left;
        width: 8.33%;
        margin-top: 6px;
    }

    .col-16 {
        float: left;
        width: 16.66%;
        margin-top: 6px;
    }

    .col-33 {
        float: left;
        width: 33.33%;
        margin-top: 6px;
    }

    .col-33 #showr {
        /* applies only to the Show routes button */
        float: right;
    }

    .col-50 #refresh {
        float: left;
    }

    .col-58 {
        float: left;
        width: 58.33%;
        margin-top: 6px;
    }

    .col-66 {
        float: left;
        width: 66.66%;
        margin-top: 6px;
    }

    .col-42 {
        float: left;
        width: 41.66%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    #googleMap {
        margin-top: 30px;
        height: 500px;
    }

    .container {margin: 20px}
}