/* For mobile phones */
* {
    box-sizing: border-box;
}
/* Responsive layout - when the screen is less than 768px wide, make the three or four columns stack on top of each other instead of next to each other */
html {
    font-family: "Lucida Sans", sans-serif;
}
/* Clear floats after the columns */
.row {
    display: flex;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Information section */
.info {
    float: left;
    padding: 30px 15px 20px; /* 15px wide left and right paddings */
    border: 3px solid black;
    margin-bottom: 20px;
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.display {
    display: none; /* hides redundant empty div-s */
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    float: left;
    font-weight: bold;
}

.button {
    background-color: darkgrey;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    /*height: 70px;*/
    /*width: 120px;  fixed width because different text appears in the button "Hide" (or "Show") */
}

#googleMap {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 300px;
    width: 100%;
}

.container {
    background-color: white;
    padding: 15px 15px;
}

#liban {font-weight: bold;}
#lamount {font-weight: bold;}
#lref {font-weight: bold;}
#ldate {font-weight: bold;}

.col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
    font-size: 12px;
}

.col-100 p {
    float: left;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-50 #hide {
    float: right; /* only the hide button floating to the right in this mode*/
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    /*.col-100 {font-size: 14px;}*/
    .col-100 {
        font-size: 14px;
    }
}
/* For desktop: */
@media screen and (min-width: 768px) {
 /*   .col-100 {
        font-size: 16px;
        display: block;
    }*/

    .display {
        display: block; /* displays empty div-s needed to sum up total width up to 100% */
    }

    /* sum of all column widths must be 100% */
    .col-8 {
        float: left;
        width: 8.33%;
        margin-top: 6px;
    }

    .col-16 {
        float: left;
        /*width: 16.66%;*/
        margin-top: 6px;
    }

    .col-16 p{
        float: right; /* the text of the info section in the first and the third column to be close to the corresponding values in the second and the fourth column, respectively */
    }

    .col-16 #liban{
        padding-right: 49px; /* "Payee's IBAN" text to be aligned vertically with "Payment reference" text */
    }
    .col-16 #lamount {
        margin-left: 20px;
    }
    .col-16 #ldate{
        padding-right: 80px; /* "Due date" text to be aligned vertically with "Amount to be paid" text */
    }
    .col-16 #ldate {
        margin-left: 30px;
    }
    /*label{*/
        /*float: right;  the label to be next to the input text field */
   /* }*/
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-33 {
        float: left;
        width: 33.33%;
        margin-top: 6px;
        padding-left: 5px;  /* space between the text and the corresponding value */
    }

    .col-58 {
        float: left;
        width: 58.33%;
        margin-top: 6px;
    }

 /*   .col-58 #hide{
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }*/

    .col-66 {
        float: left;
        width: 66.66%;
        margin-top: 6px;
    }

    .col-42 {
        float: left;
        width: 41.66%;
        margin-top: 6px;
    }

    .col-42 #showr {
        /* applies only to the hide button */
        float: right;
        /*margin-right: 0;*/
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    #googleMap {
        margin-top: 30px;
        height: 500px;
    }

    .container {margin: 20px}
}